<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlFC1iCwUpZL67c2wKJJpcTLxnve32lDA</string>
	<key>GCM_SENDER_ID</key>
	<string>953357181084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavancodes.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-e6a0e</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-e6a0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953357181084:ios:690fc11c5011dff5688d59</string>
</dict>
</plist>